<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="http://www.supermap.com/favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> Food Delivery System in UIA</title>
<style type="text/css">
<!--
.style1 {font-family: Italic}
.style2 {font-family: Arial, Helvetica, sans-serif}
.style3 {font-family: "Courier New", Courier, monospace; }
.style4 {font-family: Italic, ItalicC, ItalicT}
-->
</style>
</head>

<body>
<audio controls autoplay>
<source src="Gambar jam/02-stage-1.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<div align= "right">

</div>
<div align="center">
<table width=50% border="1">

<tr style="background: #0066FF">
<td ><div align="center" class="style1"><h2 class="style4"><u>Food delivery </u></h2>
</div></td>
</tr>

<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/101-blackpepper-chicken-chop.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="Gambar jam/giphy.gif"width="100">Chicken Chop </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
   <div style="" id="Q1" class="block"> <a onclick="document.all.A1.style.display=(document.all.A1.style.display=='none')?'':'none';document.all.Q1.style.display=(document.all.Q1.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A1" class="block"><b> </b>

 <br />
RM 6<br />

<b><a onclick="document.all.A1.style.display=(document.all.A1.style.display=='none')?'':'none';document.all.Q1.style.display=(document.all.Q1.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>

</tr>
<tr>
<td style="background:  #0066FF"><div align="center"><img src="Food file/chicken-burger-feature.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Gambar jam/giphy.gif"width="100">Chicken Burger </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
   <div style="" id="Q2" class="block"> <a onclick="document.all.A2.style.display=(document.all.A2.style.display=='none')?'':'none';document.all.Q2.style.display=(document.all.Q2.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A2" class="block"><b> </b>

<br />
RM 3.50<br />
<b><a onclick="document.all.A2.style.display=(document.all.A2.style.display=='none')?'':'none';document.all.Q2.style.display=(document.all.Q2.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>
</tr>
<tr>
<td style="background:  #0066FF"><div align="center"><img src="Food file/chicken-madras-d09bd7f.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Gambar jam/giphy.gif"width="100">Chicken Curry  </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
   <div style="" id="Q3" class="block"> <a onclick="document.all.A3.style.display=(document.all.A3.style.display=='none')?'':'none';document.all.Q3.style.display=(document.all.Q3.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A3" class="block"><b> </b>

<br />
RM 4.50<br />
<b><a onclick="document.all.A3.style.display=(document.all.A3.style.display=='none')?'':'none';document.all.Q3.style.display=(document.all.Q3.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div>
   </td>
</tr>
<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/61589069.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Gambar jam/giphy.gif"width="100">Fried Chicken  </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
    <div style="" id="Q4" class="block"> <a onclick="document.all.A4.style.display=(document.all.A4.style.display=='none')?'':'none';document.all.Q4.style.display=(document.all.Q4.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A4" class="block"><b> </b>

<br /> 
RM 4<br />
<b><a onclick="document.all.A4.style.display=(document.all.A4.style.display=='none')?'':'none';document.all.Q4.style.display=(document.all.Q4.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>
</tr>
<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/68786799-fried-penang-char-kuey-teow-which-is-a-popular-noodle-dish-in-malaysia.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Gambar jam/giphy.gif"width="100">Kuey Teow  </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
   <div style="" id="Q5" class="block"> <a onclick="document.all.A5.style.display=(document.all.A5.style.display=='none')?'':'none';document.all.Q5.style.display=(document.all.Q5.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A5" class="block"><b> </b>

<br /> 
RM 4.50<br />
<b><a onclick="document.all.A5.style.display=(document.all.A5.style.display=='none')?'':'none';document.all.Q5.style.display=(document.all.Q5.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>
</tr>

<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/chicken-shawarma-138740297-58260f943df78c6f6acabb5b.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="Gambar jam/giphy.gif"width="100"> Shawarma </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
    <div style="" id="Q15" class="block"> <a onclick="document.all.A15.style.display=(document.all.A15.style.display=='none')?'':'none';document.all.Q15.style.display=(document.all.Q15.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A15" class="block"><b> </b>

<br /> 
RM 5<br>

<b><a onclick="document.all.A15.style.display=(document.all.A15.style.display=='none')?'':'none';document.all.Q15.style.display=(document.all.Q15.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>

</tr>
<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/download.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="Gambar jam/giphy.gif"width="100"> Special Burger </h2><div align="right">
<a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a></div>&nbsp; 
   <div align="right"><div style="" id="Q16" class="block"> <a onclick="document.all.A16.style.display=(document.all.A16.style.display=='none')?'':'none';document.all.Q16.style.display=(document.all.Q16.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A16" class="block"><b> </b>

 <br />
RM 5<br>

<b><a onclick="document.all.A16.style.display=(document.all.A16.style.display=='none')?'':'none';document.all.Q16.style.display=(document.all.Q16.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>
</tr>
<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/lamb-chops-5-1200.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="Gambar jam/giphy.gif"width="100"> Lamb Chop </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
   <div style="" id="Q17" class="block"> <a onclick="document.all.A17.style.display=(document.all.A17.style.display=='none')?'':'none';document.all.Q17.style.display=(document.all.Q17.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A17" class="block"><b> </b>

 <br />
RM 7.50<br>

<b><a onclick="document.all.A17.style.display=(document.all.A17.style.display=='none')?'':'none';document.all.Q17.style.display=(document.all.Q17.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>
</tr>
<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/roti-canai-roti-paratha-roti-prata.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="Gambar jam/giphy.gif"width="100"> Roti Canai </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
    <div style="" id="Q18" class="block"> <a onclick="document.all.A18.style.display=(document.all.A18.style.display=='none')?'':'none';document.all.Q18.style.display=(document.all.Q18.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A18" class="block"><b> </b>

<br />
RM 1.20<br>

<b><a onclick="document.all.A18.style.display=(document.all.A18.style.display=='none')?'':'none';document.all.Q18.style.display=(document.all.Q18.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>
</tr>

<tr>
<td style="background: #0066FF"><div align="center"><img src="Food file/Tom_yam_kung_maenam.jpg" width="300"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Gambar jam/giphy.gif"width="100">Tom Yam </h2>
<div align="right"><a href="file:Next Jam 3.html"target="_blank"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Buy">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a>&nbsp;
    <div style="" id="Q19" class="block"> <a onclick="document.all.A19.style.display=(document.all.A19.style.display=='none')?'':'none';document.all.Q19.style.display=(document.all.Q19.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div>
<div style="display: none;" id="A19" class="block"><b> </b>

<br />
RM 3.50<br />


<b><a onclick="document.all.A19.style.display=(document.all.A19.style.display=='none')?'':'none';document.all.Q19.style.display=(document.all.Q19.style.display=='none')?'':'none'" href="javascript:"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Close">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM> </a></b></div></div></td>

</tr>


</table>
</div>
<br />
<br />
<div align="center">
<table width=13% border="10"  bordercolor="#0066FF">
<tr style="background: #0066FF">
<td colspan="3"><div  align="center"><h3>Links</h3></div></td>
</tr>
<tr style="background: #0066FF">
<td>
 <div align="center"><a href="file:Next Jam 2.html"><FORM NAME="Form1">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT>
   <input type="Button" name="Button2" value="Contact" />
 </FORM></a>&nbsp;</div></td>
  <td>
<div align="center"><a href="file:Website Jam.html"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT>
   
</FORM></a></div></td>
</tr>

</table>
</div>
<br />
<br />
   
 
  

</body>
<body background="Gambar jam/tumblr_nf6qat9wGm1t63sglo1_400.gif" >

</html>
