<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="http://www.supermap.com/favicon.ico" type="image/x-icon">

<title>Group names</title>


</head>

<body>
<audio controls autoplay>
 
  <source src="Gambar jam/01 - Ichiban no Takaramono -Yui final ver.-.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<div align="center">
<table width=50% border="1">

<tr style="background: #938AF4">
<td colspan="2" ><div align="center" class="style1"><h2 class="style4"><u>Contacts </u></h2>
</div></td>
</tr>

<tr>
<td style="background: #938AF4"><div align="center">   1.</div></td>
<td style="background: #938AF4"><div align="center">   MOHAMMAD AIMAN BIN MOHAMAD ARES (1817363).</div></td>
</tr>
<tr>
<td style="background: #938AF4"><div align="center">   2.</div></td>
<td style="background: #938AF4"><div align="center">   NUR ASIMAH BINTI CHE MAMAT (1813212)</div></td>
</tr>
<tr>
<td style="background: #938AF4"><div align="center">   3.</div></td>
<td style="background: #938AF4"><div align="center">   MOHAMAD NAZMI BIN NAZARUDIN (1811239)</div></td>
</tr>
<tr>
<td style="background: #938AF4"><div align="center">   4.</div></td>
<td style="background: #938AF4"><div align="center">  WAN AHMAD LUQMAN AL - HAKIM WAN AZMI (1814213)</div></td>
</tr>



</table>
<br />
<br />
<br />

<table width=10% border="10" bordercolor=" #938AF4">
<tr style="background: #938AF4">
<td colspan="3"><div align="center">Links </div></td></tr>
<tr style="background: #938AF4">
<td>
<a href="file:Food homepage.html"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Homepage">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a></div></td>
   <td><div align="center"><a href="file:Website Jam.html"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Details">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT>
   
</FORM></a></div></td></tr>
   </table>

   <br />

 

</body>
<body background="Gambar jam/kanade-tenshi-our-angel-beats-family-30808404-1600-900.jpg" >
</html>
