<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="http://www.supermap.com/favicon.ico" type="image/x-icon">
<title>Customer and Staff</title>
<style type="text/css">
<!--
.style1 {
	font-style: italic;
	font-family: Italic;
}
.style2 {font-family: Arial, Helvetica, sans-serif}
-->
</style>
</head>

<body>
<audio controls autoplay>
<source src="Gambar jam/04-stage-3.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div align="center">
<table width=50% border="1">
<tr style="background: #FF3300"  > 
<td  ><div align="center"><h2 class="style2"><u>Customer Details</u></h2>
</div></td>
</tr>
</table>

<div align="center">
<table width=50% border="1">
<tr>
<td style="background: #FF4848"><div align="center"> 1. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 980 <br /> F_Name : Adam 
<br/>L_Name : Malik <br/> Mahallah : Bilal <br/> Block : B <br/> Room_No: 1.2B <br/> Phone : 0123456789 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 2. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 655 <br /> F_Name : Nur 
<br/>L_Name : Aini <br/> Mahallah : Asiah <br/> Block : A <br/> Room_No: 3.3C <br/> Phone : 0142354262 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 3. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 219 <br /> F_Name : Muhammad 
<br/>L_Name : Farid <br/> Mahallah : Ali <br/> Block : E <br/> Room_No: 1.8A <br/> Phone : 0187266382 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 4. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 506 <br /> F_Name : Syed 
<br/>L_Name : Adha <br/> Mahallah :Zubair<br/> Block : F <br/> Room_No: 4.5A <br/> Phone : 0123778293 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 5. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 811 <br /> F_Name : John 
<br/>L_Name : Lee <br/> Mahallah :Zubair<br/> Block : A <br/> Room_No: 3.2A <br/> Phone : 0129398227 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 6. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 755 <br /> F_Name : Malik 
<br/>L_Name : Ibrahim <br/> Mahallah :Siddiq<br/> Block : D <br/> Room_No: 3.9D <br/> Phone : 0127873622 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 7. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 349 <br /> F_Name : Aiman 
<br/>L_Name : Hakim <br/> Mahallah :Ali<br/> Block : B <br/> Room_No: 2.9A <br/> Phone : 0197741061 <br/>
 </div></td>
</tr>
 <tr>
 <td style="background: #FF4848"><div align="center"> 8. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 257 <br /> F_Name : Amir 
<br/>L_Name : Anwar <br/> Mahallah :Siddiq<br/> Block : C <br/> Room_No: 3.7B <br/> Phone : 0163408704 <br/>
 </div></td>
</tr>
<tr>
 <td style="background: #FF4848"><div align="center"> 9. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 606 <br /> F_Name : Arif  
<br/>L_Name : Iskandar <br/> Mahallah :Bilal<br/> Block : A <br/> Room_No: 1.5A <br/> Phone : 0182264105 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 10. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 289 <br /> F_Name : Amirul  
<br/>L_Name : Faisal <br/> Mahallah :Siddiq<br/> Block : E <br/> Room_No: 2.5A <br/> Phone : 0132086672 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 11. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 923<br /> F_Name : Farid  
<br/>L_Name : Johar <br/> Mahallah :Sallahuddin<br/> Block : D <br/> Room_No: 4.8A <br/> Phone : 0192371666 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 12. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 800<br /> F_Name : Syakirah
<br/>L_Name : Adlina <br/> Mahallah :Sumayyah<br/> Block : A <br/> Room_No: 2.3C <br/> Phone : 0124337814 <br/>
 </div></td>
 
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 13. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 454<br /> F_Name : Nurul
<br/>L_Name :Wardina <br/> Mahallah :Ruqayyah<br/> Block : A <br/> Room_No: 1.7D <br/> Phone : 0172522262 <br/>
 </div></td>
 
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 14. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 555<br /> F_Name : Adhwa
<br/>L_Name : Qusairy <br/> Mahallah :Zubair<br/> Block : B <br/> Room_No: 2.2B <br/> Phone : 0118263623 <br/>
 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 15. </div></td>
<td style="background: #FF4848"><div align="center"> Cust_ID : 784<br /> F_Name : Muhammad
<br/>L_Name : Saif <br/> Mahallah :Salahuddin<br/> Block : D <br/> Room_No: 1.2C <br/> Phone :0182537782<br/>
 </div></td>
</tr>

</table>
</div></div>

<br/>
<div align="center">
<table width=50% border="1">
<tr style="background: #FF3300"  > 
<td  ><div align="center"><h2 class="style2"><u>Staff Details</u></h2>
</div></td>
</tr>
</table>

<div align="center">
<table width=50% border="1">
<tr>
<td style="background: #FF4848"><div align="center"> 1. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 133 <br /> SatffName : Aslan 
<br/>PayPerDelivery : 1.5

 </div></td>
</tr>

<tr>
<td style="background: #FF4848"><div align="center"> 2. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 121 <br /> SatffName : Amir 
<br/>PayPerDelivery : 1.5

 </div></td>
</tr>

<tr>
<td style="background: #FF4848"><div align="center"> 3. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 101 <br /> SatffName : Khairul
<br/>PayPerDelivery : 2

 </div></td>
</tr>

<tr>
<td style="background: #FF4848"><div align="center"> 4. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 197 <br /> SatffName : Laila
<br/>PayPerDelivery : 1

 </div></td>
</tr>

<tr>
<td style="background: #FF4848"><div align="center"> 5. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 112 <br /> SatffName : Adam
<br/>PayPerDelivery : 1.5

 </div></td>
</tr>

<tr>
<td style="background: #FF4848"><div align="center"> 6. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 145 <br /> SatffName : Zikri
<br/>PayPerDelivery : 1

 </div></td>
</tr>

<tr>
<td style="background: #FF4848"><div align="center"> 7. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 156 <br /> SatffName : Faizal
<br/>PayPerDelivery : 1

 </div></td>
</tr>

<tr>
<td style="background: #FF4848"><div align="center"> 8. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 123 <br /> SatffName : Taufiq
<br/>PayPerDelivery : 1.5

 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 9. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 170 <br /> SatffName : Kamal
<br/>PayPerDelivery : 1

 </div></td>
</tr>
<tr>
<td style="background: #FF4848"><div align="center"> 10. </div></td>
<td style="background: #FF4848"><div align="center"> Staff_ID : 168 <br /> SatffName : Adlina
<br/>PayPerDelivery : 1

 </div></td>
</tr>
</table>
</div></div>
<br />
<br />
<div align="center">
<table width=10% border="10"  bordercolor="#FF3300">
<tr style="background: #FF3300">
<td colspan="3"><div  align="center"><h3>Links</h3></div></td>
</tr>
<tr style="background: #FF3300">

   
<td><div align="center"><a href="file:Food homepage.html"><FORM NAME="Form1">
   <INPUT TYPE="Button" NAME="Button1" VALUE="Homepage">
   <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a></div></td>
  
  <td><div align="center">  <a href="file:Next Jam 2.html"><FORM NAME="Form1">
   <input type="Button" name="Button2" value="Contacts" />
     <SCRIPT FOR="Button1" EVENT="onClick" LANGUAGE="VBScript">
      MsgBox "Button Pressed!"
   </SCRIPT></FORM></a></div>
  </td>
  </tr>
 </table>
<br />
<br />
<br />


   
</body>
<body background="Gambar jam/background2.gif" >

</html>
